:host {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

header {
  background-color: rgb(163, 163, 235);
  padding: 1.2em;
}

header .title {
  font-size: 28px;
  text-align: center;
}

main {
  display: flex;
  flex-grow: 1;
}

.map-container {
  flex-grow: 1;
}
